<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="##-Predicting-open-value-of-crude-oil-after-60-days-taking-past-data-into-account." data-toc-modified-id="#-Predicting-open-value-of-crude-oil-after-60-days-taking-past-data-into-account.-1"><span class="toc-item-num">1&nbsp;&nbsp;</span># Predicting open value of crude oil after 60 days taking past data into account.</a></span></li></ul></div>

In [1]:
import numpy as np
import pandas as pd
import math
import sklearn
import datetime
import os
import matplotlib.pyplot as plt
import tensorflow as tf
from sklearn.preprocessing import MinMaxScaler

# split data in 80%/10%/10% train/validation/test sets
valid_set_size_percentage = 10 
test_set_size_percentage = 10

# # Predicting open value of crude oil after 60 days taking past data into account.

In [4]:
df = pd.read_excel(r"D:/Research project/share data/08-08-2008 to 01-07-2016/Crude data.xlsx")

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2403 entries, 0 to 2402
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    2403 non-null   datetime64[ns]
 1   symbol  2403 non-null   object
 2   open    2403 non-null   float64
 3   high    2403 non-null   float64
 4   low     2403 non-null   float64
 5   close   2403 non-null   float64
 6   volume  2403 non-null   int64
dtypes: datetime64[ns](1), float64(4), int64(1), object(1)
memory usage: 131.5+ KB

In [13]:
data = df[["Date","open"]]

In [14]:
data

           Date        open
0    2008-08-08  119.900002
1    2008-08-10    0.000000
2    2008-08-11  115.199997
3    2008-08-12  114.529999
4    2008-08-13  113.089996
...         ...         ...
2398 2016-06-26    0.000000
2399 2016-06-27   47.810001
2400 2016-06-28   46.590000
2401 2016-06-29   48.060001
2402 2016-06-30   49.549999

[2403 rows x 2 columns]

In [15]:
data_training = data[data['Date']<'2015-01-01'].copy()
data_test = data[data['Date']>='2015-01-01'].copy()

In [16]:
data_training = data_training.drop(['Date'], axis = 1)

In [17]:
scaler = MinMaxScaler()
data_training = scaler.fit_transform(data_training)
data_training

array([[0.98642533],
       [0.        ],
       [0.94775808],
       ...,
       [0.45290002],
       [0.44195804],
       [0.44319208]])

In [18]:
X_train = []
y_train = []

for i in range(60, data_training.shape[0]):
    X_train.append(data_training[i-60:i])
    y_train.append(data_training[i, 0])
    
X_train, y_train = np.array(X_train), np.array(y_train)

In [19]:
X_train.shape

(1886, 60, 1)

In [20]:
X_train

array([[[0.98642533],
        [0.        ],
        [0.94775808],
        ...,
        [0.64788151],
        [0.6055121 ],
        [0.59481696]],

       [[0.        ],
        [0.94775808],
        [0.94224596],
        ...,
        [0.6055121 ],
        [0.59481696],
        [0.        ]],

       [[0.94775808],
        [0.94224596],
        [0.93039896],
        ...,
        [0.59481696],
        [0.        ],
        [0.59366518]],

       ...,

       [[0.68432742],
        [0.        ],
        [0.68391604],
        ...,
        [0.        ],
        [0.45956396],
        [0.        ]],

       [[0.        ],
        [0.68391604],
        [0.68087207],
        ...,
        [0.45956396],
        [0.        ],
        [0.45290002]],

       [[0.68391604],
        [0.68087207],
        [0.67914439],
        ...,
        [0.        ],
        [0.45290002],
        [0.44195804]]])

In [21]:
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense, LSTM, Dropout

In [22]:
regressor = Sequential()

regressor.add(LSTM(units = 60, activation = 'relu', return_sequences = True, input_shape = (X_train.shape[1], 1)))
regressor.add(Dropout(0.2))

regressor.add(LSTM(units = 60, activation = 'relu', return_sequences = True))
regressor.add(Dropout(0.2))

regressor.add(LSTM(units = 80, activation = 'relu', return_sequences = True))
regressor.add(Dropout(0.2))

regressor.add(LSTM(units = 120, activation = 'relu'))
regressor.add(Dropout(0.2))

regressor.add(Dense(units = 1))

In [23]:
regressor.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
lstm (LSTM)                  (None, 60, 60)            14880
_________________________________________________________________
dropout (Dropout)            (None, 60, 60)            0
_________________________________________________________________
lstm_1 (LSTM)                (None, 60, 60)            29040
_________________________________________________________________
dropout_1 (Dropout)          (None, 60, 60)            0
_________________________________________________________________
lstm_2 (LSTM)                (None, 60, 80)            45120
_________________________________________________________________
dropout_2 (Dropout)          (None, 60, 80)            0
_________________________________________________________________
lstm_3 (LSTM)                (None, 120)               96480
_________________________________________________________________
dropout_3 (Dropout)          (None, 120)               0
_________________________________________________________________
dense (Dense)                (None, 1)                 121
=================================================================
Total params: 185,641
Trainable params: 185,641
Non-trainable params: 0
_________________________________________________________________

In [24]:
regressor.compile(optimizer='adam', loss = 'mean_squared_error')
regressor.fit(X_train, y_train, epochs=50, batch_size=32)

Train on 1886 samples
Epoch 1/50
1886/1886 [==============================] - 12s 6ms/sample - loss: 0.1308
Epoch 2/50
1886/1886 [==============================] - 7s 4ms/sample - loss: 0.0850
Epoch 3/50
1886/1886 [==============================] - 7s 4ms/sample - loss: 0.0851
Epoch 4/50
1886/1886 [==============================] - 7s 4ms/sample - loss: 0.0825
Epoch 5/50
1886/1886 [==============================] - 7s 4ms/sample - loss: 0.0851
Epoch 6/50
1886/1886 [==============================] - 7s 4ms/sample - loss: 0.0836
Epoch 7/50
1886/1886 [==============================] - 7s 4ms/sample - loss: 0.0834
Epoch 8/50
1886/1886 [==============================] - 7s 4ms/sample - loss: 0.0841
Epoch 9/50
1886/1886 [==============================] - 8s 4ms/sample - loss: 0.0830
Epoch 10/50
1886/1886 [==============================] - 7s 4ms/sample - loss: 0.0826
Epoch 11/50
1886/1886 [==============================] - 8s 4ms/sample - loss: 0.0813
Epoch 12/50
1886/1886 [==============================] - 7s 4ms/sample - loss: 0.0827
Epoch 13/50
1886/1886 [==============================] - 8s 4ms/sample - loss: 0.0802
Epoch 14/50
1886/1886 [==============================] - 7s 4ms/sample - loss: 0.0836
Epoch 15/50
1886/1886 [==============================] - 8s 4ms/sample - loss: 0.0819
Epoch 16/50
1886/1886 [==============================] - 8s 4ms/sample - loss: 0.0828
Epoch 17/50
1886/1886 [==============================] - 8s 4ms/sample - loss: 0.0822
Epoch 18/50
1886/1886 [==============================] - 8s 4ms/sample - loss: 0.0805
Epoch 19/50
1886/1886 [==============================] - 8s 4ms/sample - loss: 0.0818
Epoch 20/50
1886/1886 [==============================] - 8s 4ms/sample - loss: 0.0806
Epoch 21/50
1886/1886 [==============================] - 8s 4ms/sample - loss: 0.0806
Epoch 22/50
1886/1886 [==============================] - 7s 4ms/sample - loss: 0.0800
Epoch 23/50
1886/1886 [==============================] - 7s 4ms/sample - loss: 0.0808
Epoch 24/50
1886/1886 [==============================] - 9s 5ms/sample - loss: 0.0806
Epoch 25/50
1886/1886 [==============================] - 8s 4ms/sample - loss: 0.0802
Epoch 26/50
1886/1886 [==============================] - 7s 4ms/sample - loss: 0.0789
Epoch 27/50
1886/1886 [==============================] - 7s 4ms/sample - loss: 0.0795
Epoch 28/50
1886/1886 [==============================] - 8s 4ms/sample - loss: 0.0818
Epoch 29/50
1886/1886 [==============================] - 9s 5ms/sample - loss: 0.0801
Epoch 30/50
1886/1886 [==============================] - 8s 4ms/sample - loss: 0.0802
Epoch 31/50
1886/1886 [==============================] - 9s 5ms/sample - loss: 0.0802
Epoch 32/50
1886/1886 [==============================] - 7s 4ms/sample - loss: 0.0802
Epoch 33/50
1886/1886 [==============================] - 8s 4ms/sample - loss: 0.0798
Epoch 34/50
1886/1886 [==============================] - 9s 5ms/sample - loss: 0.0787
Epoch 35/50
1886/1886 [==============================] - 8s 4ms/sample - loss: 0.0783
Epoch 36/50
1886/1886 [==============================] - 8s 4ms/sample - loss: 0.0753
Epoch 37/50
1886/1886 [==============================] - 8s 4ms/sample - loss: 0.0687
Epoch 38/50
1886/1886 [==============================] - 8s 4ms/sample - loss: 0.0644
Epoch 39/50
1886/1886 [==============================] - 8s 4ms/sample - loss: 0.0594
Epoch 40/50
1886/1886 [==============================] - 9s 5ms/sample - loss: 0.0541
Epoch 41/50
1886/1886 [==============================] - 8s 4ms/sample - loss: 0.0477
Epoch 42/50
1886/1886 [==============================] - 8s 4ms/sample - loss: 0.0393
Epoch 43/50
1886/1886 [==============================] - 8s 4ms/sample - loss: 0.0370
Epoch 44/50
1886/1886 [==============================] - 8s 4ms/sample - loss: 0.0331
Epoch 45/50
1886/1886 [==============================] - 8s 4ms/sample - loss: 0.0295
Epoch 46/50
1886/1886 [==============================] - 8s 4ms/sample - loss: 0.0294
Epoch 47/50
1886/1886 [==============================] - 9s 5ms/sample - loss: 0.0271
Epoch 48/50
1886/1886 [==============================] - 8s 4ms/sample - loss: 0.0260
Epoch 49/50
1886/1886 [==============================] - 8s 4ms/sample - loss: 0.0266
Epoch 50/50
1886/1886 [==============================] - 9s 5ms/sample - loss: 0.0261

In [25]:
data_test.head()

           Date       open
1946 2015-01-02  53.759998
1947 2015-01-04   0.000000
1948 2015-01-05  52.610001
1949 2015-01-06  50.000000
1950 2015-01-07  48.000000

In [26]:
data_training1 = data[data['Date']<'2015-01-01'].copy()

In [27]:
past_60_days = data_training1.tail(60)

In [28]:
df = past_60_days.append(data_test, ignore_index = True)
df = df.drop(['Date'], axis = 1)
df.head()

        open
0  82.760002
1  82.550003
2  80.419998
3  81.949997
4   0.000000

In [29]:
inputs = scaler.transform(df)
inputs

array([[0.68087207],
       [0.67914439],
       [0.6616207 ],
       [0.6742081 ],
       [0.        ],
       [0.6686137 ],
       [0.66343066],
       [0.67091733],
       [0.67404359],
       [0.66672151],
       [0.        ],
       [0.66301928],
       [0.64352118],
       [0.6364459 ],
       [0.64886879],
       [0.64055943],
       [0.        ],
       [0.64582475],
       [0.63496502],
       [0.63759768],
       [0.63307277],
       [0.6117647 ],
       [0.        ],
       [0.62468119],
       [0.62106126],
       [0.6106952 ],
       [0.61085971],
       [0.62764294],
       [0.        ],
       [0.63035789],
       [0.62122583],
       [0.60773345],
       [0.        ],
       [0.        ],
       [0.54298641],
       [0.56964209],
       [0.5561497 ],
       [0.55450432],
       [0.54956809],
       [0.        ],
       [0.53854379],
       [0.51838747],
       [0.52102016],
       [0.50283832],
       [0.48679553],
       [0.        ],
       [0.4695187 ],
       [0.45577952],
       [0.45660221],
       [0.45931716],
       [0.45660221],
       [0.        ],
       [0.47511311],
       [0.45569722],
       [0.        ],
       [0.45956396],
       [0.        ],
       [0.45290002],
       [0.44195804],
       [0.44319208],
       [0.4422871 ],
       [0.        ],
       [0.432826  ],
       [0.41135334],
       [0.39489921],
       [0.40131631],
       [0.40246809],
       [0.        ],
       [0.39646234],
       [0.37589468],
       [0.37976141],
       [0.39983543],
       [0.38132453],
       [0.        ],
       [0.40057588],
       [0.38412174],
       [0.3895516 ],
       [0.38362814],
       [0.        ],
       [0.37186343],
       [0.37128754],
       [0.37704649],
       [0.36552858],
       [0.367174  ],
       [0.        ],
       [0.39152611],
       [0.40962567],
       [0.42509253],
       [0.40041133],
       [0.41842863],
       [0.        ],
       [0.42788973],
       [0.43134511],
       [0.41941587],
       [0.40658163],
       [0.42245987],
       [0.        ],
       [0.43397778],
       [0.43800906],
       [0.41587822],
       [0.42155492],
       [0.        ],
       [0.41752364],
       [0.40658163],
       [0.40444261],
       [0.41958041],
       [0.40287947],
       [0.        ],
       [0.40682846],
       [0.40970792],
       [0.41637186],
       [0.42468118],
       [0.41867542],
       [0.        ],
       [0.4080625 ],
       [0.41201152],
       [0.40123405],
       [0.39851911],
       [0.38609625],
       [0.        ],
       [0.36865487],
       [0.36067461],
       [0.3497326 ],
       [0.36692716],
       [0.36190869],
       [0.        ],
       [0.38181817],
       [0.39045658],
       [0.39259564],
       [0.40329082],
       [0.41966266],
       [0.        ],
       [0.39958864],
       [0.40090497],
       [0.39119702],
       [0.40798024],
       [0.        ],
       [0.40699301],
       [0.42739613],
       [0.43751541],
       [0.41958041],
       [0.4173591 ],
       [0.        ],
       [0.42624434],
       [0.42821882],
       [0.44055942],
       [0.46005756],
       [0.46532291],
       [0.        ],
       [0.46203207],
       [0.46408884],
       [0.46351295],
       [0.46301931],
       [0.47330315],
       [0.        ],
       [0.47141092],
       [0.46606335],
       [0.46836692],
       [0.48169476],
       [0.49189634],
       [0.        ],
       [0.48786506],
       [0.4849856 ],
       [0.49954751],
       [0.49930068],
       [0.48556149],
       [0.        ],
       [0.48893458],
       [0.48761825],
       [0.5037433 ],
       [0.4944467 ],
       [0.49090906],
       [0.        ],
       [0.49238993],
       [0.48983957],
       [0.47980254],
       [0.48383381],
       [0.49905387],
       [0.        ],
       [0.49403536],
       [0.47980254],
       [0.47412587],
       [0.47692307],
       [0.        ],
       [0.49600987],
       [0.49510488],
       [0.50201562],
       [0.49008637],
       [0.47708762],
       [0.        ],
       [0.48506785],
       [0.47972028],
       [0.49839573],
       [0.50300286],
       [0.49814889],
       [0.        ],
       [0.49280132],
       [0.49033317],
       [0.49387081],
       [0.49181405],
       [0.49773754],
       [0.        ],
       [0.48901685],
       [0.49535169],
       [0.50300286],
       [0.49543397],
       [0.49082681],
       [0.        ],
       [0.48408061],
       [0.47939119],
       [0.4852324 ],
       [0.46787328],
       [0.        ],
       [0.45166599],
       [0.43397778],
       [0.43529411],
       [0.42640889],
       [0.43175647],
       [0.        ],
       [0.42904155],
       [0.42780748],
       [0.43932539],
       [0.42468118],
       [0.41883997],
       [0.        ],
       [0.4176059 ],
       [0.410942  ],
       [0.41719455],
       [0.4050185 ],
       [0.4013986 ],
       [0.        ],
       [0.39489921],
       [0.38683668],
       [0.39333607],
       [0.40172769],
       [0.39876594],
       [0.        ],
       [0.38552036],
       [0.37309747],
       [0.37811598],
       [0.37153434],
       [0.36873714],
       [0.        ],
       [0.35853559],
       [0.36865487],
       [0.35598518],
       [0.35656108],
       [0.34742903],
       [0.        ],
       [0.34701768],
       [0.34454957],
       [0.34890991],
       [0.33385439],
       [0.33755654],
       [0.        ],
       [0.33155079],
       [0.31410941],
       [0.32653227],
       [0.32052652],
       [0.35113121],
       [0.        ],
       [0.37021801],
       [0.3957219 ],
       [0.36412996],
       [0.37935006],
       [0.38403948],
       [0.        ],
       [0.3769642 ],
       [0.3767174 ],
       [0.36330727],
       [0.37605922],
       [0.        ],
       [0.36840805],
       [0.36289593],
       [0.37153434],
       [0.38774167],
       [0.38576716],
       [0.        ],
       [0.3699712 ],
       [0.38214726],
       [0.3828877 ],
       [0.36709171],
       [0.37062935],
       [0.        ],
       [0.3733443 ],
       [0.36610447],
       [0.36955983],
       [0.3733443 ],
       [0.3707939 ],
       [0.        ],
       [0.37556562],
       [0.3800905 ],
       [0.40312628],
       [0.39580419],
       [0.40880294],
       [0.        ],
       [0.40732206],
       [0.39045658],
       [0.38412174],
       [0.38074865],
       [0.38560261],
       [0.        ],
       [0.38889345],
       [0.38050184],
       [0.37745784],
       [0.37243932],
       [0.37383791],
       [0.        ],
       [0.36807899],
       [0.36018098],
       [0.35738378],
       [0.37893871],
       [0.37630605],
       [0.        ],
       [0.38198271],
       [0.37935006],
       [0.39276019],
       [0.3831345 ],
       [0.37359111],
       [0.        ],
       [0.36626902],
       [0.36281363],
       [0.35894693],
       [0.35417522],
       [0.34232826],
       [0.        ],
       [0.33665156],
       [0.34520772],
       [0.33821473],
       [0.33500617],
       [0.3335253 ],
       [0.        ],
       [0.34134102],
       [0.3458659 ],
       [0.35121348],
       [0.35582064],
       [0.        ],
       [0.34364458],
       [0.3433155 ],
       [0.34298641],
       [0.33031675],
       [0.33986014],
       [0.        ],
       [0.32990536],
       [0.30999588],
       [0.31147676],
       [0.30662278],
       [0.30135747],
       [0.        ],
       [0.29123818],
       [0.29880707],
       [0.3026738 ],
       [0.29452898],
       [0.28687781],
       [0.        ],
       [0.28449199],
       [0.29452898],
       [0.30004114],
       [0.31147676],
       [0.        ],
       [0.31262854],
       [0.30193336],
       [0.30736323],
       [0.30283834],
       [0.        ],
       [0.3093377 ],
       [0.30357878],
       [0.29765528],
       [0.28046071],
       [0.27396132],
       [0.        ],
       [0.27099957],
       [0.25594406],
       [0.25125463],
       [0.25174825],
       [0.25651994],
       [0.        ],
       [0.        ],
       [0.24023036],
       [0.2330728 ],
       [0.23323735],
       [0.24549567],
       [0.        ],
       [0.26367748],
       [0.24524885],
       [0.25133688],
       [0.26482927],
       [0.27725216],
       [0.        ],
       [0.27832169],
       [0.2580831 ],
       [0.24475524],
       [0.26910735],
       [0.26030439],
       [0.        ],
       [0.25479225],
       [0.24821061],
       [0.23331962],
       [0.22492801],
       [0.22459892],
       [0.        ],
       [0.        ],
       [0.2392431 ],
       [0.23973672],
       [0.25791855],
       [0.25174825],
       [0.        ],
       [0.24450842],
       [0.27429041],
       [0.25734266],
       [0.26482927],
       [0.2718223 ],
       [0.        ],
       [0.26918964],
       [0.27889758],
       [0.27881529],
       [0.28572603],
       [0.28515014],
       [0.        ],
       [0.29781983],
       [0.31213491],
       [0.29913616],
       [0.31402713],
       [0.31254629],
       [0.        ],
       [0.31402713],
       [0.30744548],
       [0.30226245],
       [0.31748251],
       [0.33113944],
       [0.        ],
       [0.32134924],
       [0.34216371],
       [0.33887288],
       [0.32686137],
       [0.        ],
       [0.32538049],
       [0.32348827],
       [0.31690661],
       [0.31509665],
       [0.31378032],
       [0.        ],
       [0.30119293],
       [0.29206087],
       [0.30045248],
       [0.31065403],
       [0.30867955],
       [0.        ],
       [0.3267791 ],
       [0.33196213],
       [0.3424928 ],
       [0.34175237],
       [0.34084738],
       [0.        ],
       [0.31879884],
       [0.32941176],
       [0.33566432],
       [0.36174414],
       [0.35721923],
       [0.        ],
       [0.35993417],
       [0.35343478],
       [0.36725626],
       [0.37268612],
       [0.37762238],
       [0.        ],
       [0.37762238],
       [0.36955983],
       [0.36075686],
       [0.36232003],
       [0.36626902],
       [0.        ],
       [0.37021801],
       [0.35582064],
       [0.36692716],
       [0.37844507],
       [0.38181817],
       [0.        ],
       [0.38074865],
       [0.39407652],
       [0.39925955],
       [0.39382968],
       [0.39654463],
       [0.        ],
       [0.39868365],
       [0.39555739],
       [0.40386671],
       [0.40888523],
       [0.40567667],
       [0.        ],
       [0.4075689 ],
       [0.4016454 ],
       [0.40230359],
       [0.40345537],
       [0.        ],
       [0.40213904],
       [0.40896748],
       [0.41472644],
       [0.4232826 ],
       [0.41522007],
       [0.        ],
       [0.4018922 ],
       [0.39917728],
       [0.39407652],
       [0.39037433],
       [0.37836282],
       [0.        ],
       [0.39728507],
       [0.40427806],
       [0.41316331],
       [0.40378446],
       [0.41382145],
       [0.        ],
       [0.39333607],
       [0.38329904],
       [0.39539284],
       [0.40765115]])

In [30]:
X_test = []
y_test = []

for i in range(60, inputs.shape[0]):
    X_test.append(inputs[i-60:i])
    y_test.append(inputs[i, 0])

X_test, y_test = np.array(X_test), np.array(y_test)
X_test.shape, y_test.shape

((457, 60, 1), (457,))

In [31]:
y_pred = regressor.predict(X_test)

In [32]:
scaler.scale_

array([0.00822707])

In [33]:
scale = 1/0.00822707
scale

121.54995642434064

In [34]:
y_pred = y_pred*scale
y_test = y_test*scale

In [35]:
from sklearn.metrics import mean_absolute_error as mae
from sklearn.metrics import r2_score

In [36]:
k = mae(y_pred, y_test)
print('Training Mean Absolute Error', k )

Training Mean Absolute Error 8.407415462451311

In [37]:
sklearn.metrics.r2_score(y_test, y_pred)

0.6532543371575924

In [38]:
from sklearn.metrics import mean_squared_error
mse=mean_squared_error(y_test, y_pred)
mse

123.82313009256397

In [39]:
#RMSE
Rmse=np.sqrt(mse)
Rmse

11.127584198403712

In [40]:
# adjusted r2
var_test = y_test.var()
var_test
Adj_rsquare = 1-(mse/var_test)
Adj_rsquare

0.6532543371575924